<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>Feel free to email me at this address: <b>Adamjaspher04@gmail.com</b></p>
    <p>Call me: <b>09760195018</b></p>
    <p>You can also contact me on any of these following platforms:</p>
  </div>
  <div class="list-group shadow">
    <a
      href="https://www.linkedin.com/in/adam-pacifico04/"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center"
      target="_blank"
      ><i class="bi bi-linkedin" style="color: #0a66c2; font-size: 2rem"></i>
      <h3 class="m-0 p-0">LinkedIn</h3>
    </a>
    <a
      href="https://github.com/adampacifico"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center"
      target="_blank"
    >
      <i class="bi bi-github" style="color: #181717; font-size: 2rem"></i>
      <h3 class="m-0 p-0">Github</h3>
    </a>
    <a
      href="https://www.facebook.com/adamjaspherpacifico"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center"
      target="_blank"
    >
      <i class="bi bi-facebook" style="color: #1877f2; font-size: 2rem"></i>
      <h3 class="m-0 p-0">Facebook</h3>
    </a>
  </div>
</div>
