<nav class="navbar-expand-mdmb-3">
    <div class="container">
        <div class="glass-nav">
            <ul class="nav justify-content-center gap-3">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="nav-link-active">
                        <i class="bi bi-house-door-fill"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/portfolio" routerLinkActive="nav-link-active">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Portfolio</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/resume" routerLinkActive="nav-link-active">
                        <i class="bi bi-file-earmark-person-fill"></i>
                        <span>Resume</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="nav-link-active">
                        <i class="bi bi-envelope-paper-fill"></i>
                        <span>Contact</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>