<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center gap-5">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="nav-link-active">🏠 Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="nav-link-active">🚀 Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="nav-link-active">📄 Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="nav-link-active">✉️ Contact</a>
            </li>
        </ul>
    </div>
</nav>
