<div class="container text-center">
  <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">
    Download CV
  </button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group heading="Work Experience">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta neque
        vel dignissimos facere ipsa dolores, iure dolor consectetur culpa
        officiis nobis, sunt porro minima maxime accusantium corporis omnis ab
        voluptates.
      </accordion-group>
      <accordion-group heading="Skills">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos inventore
        temporibus alias labore animi, quod excepturi ex quasi ducimus omnis
        quo, in deserunt sequi commodi nemo. Sapiente placeat officia facere?
      </accordion-group>
      <accordion-group heading="Certification">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos inventore
        temporibus alias labore animi, quod excepturi ex quasi ducimus omnis
        quo, in deserunt sequi commodi nemo. Sapiente placeat officia facere?
      </accordion-group>
      <accordion-group heading="Education">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos inventore
        temporibus alias labore animi, quod excepturi ex quasi ducimus omnis
        quo, in deserunt sequi commodi nemo. Sapiente placeat officia facere?
      </accordion-group>
    </accordion>
  </div>
</div>
