/* You can add global styles to this file, and also import other style files */
.container{
    max-width: 1140px;
}

/* Hide scrollbar but retain scroll functionality */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}