
@media (max-width: 768px) {

    .p-5{

        padding: 1rem !important;
        /* margin: 0 12px !important; */
    }
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}