<div class="container">
  <div class="row gap-3">
    <div
      class="col-lg shadow border m-1 p-3 d-flex flex-column justify-content-center"
    >
      <div
        class="text-center d-flex flex-column align-items-center justify-content-around gap-3"
      >
        <h2>About Me</h2>
        <img
          src="../../assets/Me.png"
          alt="prof-pic"
          width="256"
          height="256"
          class="rounded-circle border"
        />
        <p style="text-align: justify">
          💻 I'm a frontend-focused web developer with 4+ years of experience
          building responsive, modern, and user-friendly web applications. 🚀 I
          specialize in React ⚛️ and Angular 🅰️, Vue js 🖖 and I use Laravel 🛠️ whenever
          backend support is needed. I care about creating apps that feel
          smooth, fast, and intuitive ⚡—not just functional. 🎨 I genuinely
          enjoy refining UI details, improving user experience, and solving the
          small things users actually notice. ✨
        </p>
      </div>
    </div>
    <div class="col-lg shadow border m-1 p-2">
      <div class="text-center">
        <h2>Latest Project</h2>
        <br />
        <h4>{{ featuredProject.name }}</h4>
      </div>

      <carousel>
        <div *ngFor="let img of featuredProject.images">
          <slide

            ><img
              src="{{ img }}"
              alt="slide1"
              style="display: block; max-width: 100%; max-height: 275px"
          /></slide>
        </div>
      </carousel>

      <p class="mt-2">{{ featuredProject.summary }}</p>
      <br />
      <a  class="fs-6" routerLink="/portfolio">Visit the Portfolio section for more projects.</a>
    </div>
  </div>
</div>
